body{
  background-color: rgb(217, 233, 228);
  padding-left: 3%;
  padding-right: 3%;
  margin: auto;
}
h1{
  font-size: 3em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}
/* #space{
  background-color: bisque;
  width: auto;

} */
img {
  width: 250px;
  height: 250px;
}
 
li{
  display: inline;
  padding: 15px;
  padding-top: 10px;
}
canvas{
  border: 2px solid black;
}
